
{% extends 'base.html' %}
{% block content %}

<h1>{{question.subject}}</h1>
<div>
    {{question.content}}
</div>

<h5>{{question.answer_set|length}}개의 답변이 있습니다</h5>
<div>
    <ul>
    {% for answer in question.answer_set%}
        <li>{{answer.content}}</li>
    {%endfor%}
    </ul>
</div>

<form action="{{ url_for('answer.create', question_id=question.id) }}" method="post">
    {{ form.csrf_token }}
    <!-- 오류표시 Start -->
    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
        {% for field, errors in form.errors.items() %}
        <strong>{{ form[field].label }}</strong>
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
        {% endfor %}
    </div>
    {% endif %}
    <!-- 오류표시 End -->
    <textarea name="content" id="content" rows="15"></textarea>
    <input type="submit" value="답변등록">
</form>

{% endblock %}